* {
	padding: 0;
	margin: 0;
}
body#body {
	background-color: rgb(245,245,245);
	padding: 0;
	margin: 0 !important;
}
/*导航栏背景*/
nav.navbar-container {
	background-color: #fbfbfb;
	color: black;
}
nav.navbar-container a {
	color: black;
}

#us {
	display: none;
}

/*设置侧边导航栏*/
.side-navbar {
	position: fixed;
	top: 100px;
	left: 20%;
}
.side-navbar ul {
	background-color: #fff;
}
.side-navbar ul li {
	margin: 1px auto;
	height: 50px;
	width: 170px;
}
.side-navbar ul li a {
	display: inline-block;
	line-height: 50px;
	font-size: 18px;
	text-align: center;
	width: 170px;
	color: black;
}
.side-navbar ul li a:hover {
	background-color: rgb(255,66,0);
	color: #fff;
}
.selected {
	background-color: rgb(255,66,0);
	color: #fff!important;
}
/*设置博客列表*/
.blog-container {
	width: 80%;
}
ul.blog-list li{
	margin: 10px auto
}
.list-container {
	width: 90%;
	max-width: 1280px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid rgb(245,245,245);
	background-color: #fff;
}
.list-container:hover {
	background-color: rgb(250,250,250);
}
.list-container .userinfo {
	overflow: hidden;
}
.list-container img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.list-container .interval {
	display: inline-block;
	width: 2px;
	height: 14px;
	border: 1px solid rgb(224,224,224);
}
.list-container .title h4{
	font-size: 20px;
	/*margin-top: 20px;*/
}
.list-container .title h4:hover a{
	color: red;
}
.list-container .summary {
	color: rgb(138,138,138);
}
.list-container span {
	padding: 5px;
	line-height: 35px;
}
