<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

<session-config>
	<session-timeout>30</session-timeout>
</session-config>


  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.blog.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/seblog/greet</url-pattern>
  </servlet-mapping>
  
  <!--登录服务注册  -->
   <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.login.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login/login</url-pattern>
  </servlet-mapping>
  
  <!-- 注册服务注册 -->
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.login.server.RegisterServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/login/register</url-pattern>
  </servlet-mapping>
  
 
 <!-- 获取文章服务注册 -->
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.index.server.IndexServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/index/article</url-pattern>
  </servlet-mapping>
  
  <!-- 首页请求登录状态 -->
  <servlet>
  	<servlet-name>indexUserinfoServlet</servlet-name>
  	<servlet-class>com.index.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>indexUserinfoServlet</servlet-name>
  	<url-pattern>/index/getUserInfo</url-pattern>
  </servlet-mapping>
  	<!-- 首页注销登录 -->
  <servlet>
  	<servlet-name>indexLogoutServlet</servlet-name>
  	<servlet-class>com.index.server.LogoutServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>indexLogoutServlet</servlet-name>
  	<url-pattern>/index/logout</url-pattern>
  </servlet-mapping>  
  

  <!-- 文章详情页面请求文章内容 -->
  <servlet>
  	<servlet-name>detailServlet</servlet-name>
  	<servlet-class>com.detail.server.DetailServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>detailServlet</servlet-name>
  	<url-pattern>/detail/detail</url-pattern>
  </servlet-mapping>
  
  <!-- 获取文章评论相关信息 -->
  <servlet>
  	<servlet-name>commentDetailServlet</servlet-name>
  	<servlet-class>com.detail.server.CommentDetailServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>commentDetailServlet</servlet-name>
  	<url-pattern>/detail/comment</url-pattern>
  </servlet-mapping>
  
  
  <!-- 获取关注和收藏状态 -->
   <servlet>
  	<servlet-name>collOrRelationServlet</servlet-name>
  	<servlet-class>com.detail.server.CollectAndRelationServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>collOrRelationServlet</servlet-name>
  	<url-pattern>/detail/relation</url-pattern>
  </servlet-mapping>
  
  <!-- 关注他人 -->
  <servlet>
  	<servlet-name>makeRelationServlet</servlet-name>
  	<servlet-class>com.detail.server.MakeRelationWithOtherServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>makeRelationServlet</servlet-name>
  	<url-pattern>/detail/focus</url-pattern>
  </servlet-mapping>
  
  <!-- 转发或收藏 -->
  <servlet>
  	<servlet-name>transferOrCollectServlet</servlet-name>
  	<servlet-class>com.detail.server.TransferOrCollectBlogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>transferOrCollectServlet</servlet-name>
  	<url-pattern>/detail/transferOrCollect</url-pattern>
  </servlet-mapping>
  
      	<!-- 注销登录 -->
  <servlet>
  	<servlet-name>detailLogoutServlet</servlet-name>
  	<servlet-class>com.detail.server.LogoutServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>detailLogoutServlet</servlet-name>
  	<url-pattern>/detail/logout</url-pattern>
  </servlet-mapping>
  		<!-- 获取用户信息 -->
  <servlet>
  	<servlet-name>detailGetUserInfoServlet</servlet-name>
  	<servlet-class>com.detail.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>detailGetUserInfoServlet</servlet-name>
  	<url-pattern>/detail/getUserInfo</url-pattern>
  </servlet-mapping>
  
     <!-- Detail用户评论 -->
  <servlet>
  	<servlet-name>MakeCommentServlet</servlet-name>
  	<servlet-class>com.detail.server.MakeCommentServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MakeCommentServlet</servlet-name>
  	<url-pattern>/detail/makeComment</url-pattern>
  </servlet-mapping>
  	<!-- 对评论进行举报 -->
  <servlet>
  	<servlet-name>MakeFeedbackServlet</servlet-name>
  	<servlet-class>com.detail.server.MakeFeedBackServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MakeFeedbackServlet</servlet-name>
  	<url-pattern>/detail/makeFeedBack</url-pattern>
  </servlet-mapping>
  
  
  <!-- 个人中心页面 -->
    	<!-- 注销登录 -->
  <servlet>
  	<servlet-name>userLogoutServlet</servlet-name>
  	<servlet-class>com.user.server.LogoutServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userLogoutServlet</servlet-name>
  	<url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  	<!-- 获取用户信息 -->
  <servlet>
  	<servlet-name>userGetUserInfoServlet</servlet-name>
  	<servlet-class>com.user.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userGetUserInfoServlet</servlet-name>
  	<url-pattern>/user/userInfo</url-pattern>
  </servlet-mapping>
  	
  	<!-- 获取用户的关注对象 -->
  <servlet>
  	<servlet-name>userGetUserRelaServlet</servlet-name>
  	<servlet-class>com.user.server.UserRelationServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userGetUserRelaServlet</servlet-name>
  	<url-pattern>/user/UserRelation</url-pattern>
  </servlet-mapping>
  
  	<!-- 获取用户的博客 -->
  <servlet>
  	<servlet-name>userGetUserBlogServlet</servlet-name>
  	<servlet-class>com.user.server.UserBlogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userGetUserBlogServlet</servlet-name>
  	<url-pattern>/user/UserBlog</url-pattern>
  </servlet-mapping>
  
  	<!-- 修改信息 -->
  <servlet>
  	<servlet-name>userChangeInfoServlet</servlet-name>
  	<servlet-class>com.user.server.ChangeInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userChangeInfoServlet</servlet-name>
  	<url-pattern>/user/changeInfo</url-pattern>
  </servlet-mapping>
  
 	<!-- 取消关注  -->
  <servlet>
  	<servlet-name>userCancelFocusServlet</servlet-name>
  	<servlet-class>com.user.server.MakeRelationWithOtherServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userCancelFocusServlet</servlet-name>
  	<url-pattern>/user/focus</url-pattern>
  </servlet-mapping>
  	
  	<!-- 删除我的博客 -->
  <servlet>
  	<servlet-name>userDeleteBlogServlet</servlet-name>
  	<servlet-class>com.user.server.DeleteSelfBlogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userDeleteBlogServlet</servlet-name>
  	<url-pattern>/user/deleteblog</url-pattern>
  </servlet-mapping>
  
  <!-- 他人主页 -->
  	<!-- 请求用户信息 -->
  <servlet>
  	<servlet-name>getUserInfoServlet</servlet-name>
  	<servlet-class>com.other.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getUserInfoServlet</servlet-name>
  	<url-pattern>/other/userInfo</url-pattern>
  </servlet-mapping>
  
  	<!-- 请求其他用户信息 --> 
  <servlet>
  	<servlet-name>getOtherUserInfoServlet</servlet-name>
  	<servlet-class>com.other.server.OtherUserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getOtherUserInfoServlet</servlet-name>
  	<url-pattern>/other/getOtherInfo</url-pattern>
  </servlet-mapping>
  	<!-- 请求他人的博客信息 -->
  <servlet>
  	<servlet-name>getOtherBlogServlet</servlet-name>
  	<servlet-class>com.other.server.GetAllBlogInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getOtherBlogServlet</servlet-name>
  	<url-pattern>/other/getOtherAllBlog</url-pattern>
  </servlet-mapping>
  	<!-- 他人主页关注他人 -->
  <servlet>
  	<servlet-name>focusOtherBlogServlet</servlet-name>
  	<servlet-class>com.other.server.MakeRelationWithOtherServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>focusOtherBlogServlet</servlet-name>
  	<url-pattern>/other/focus</url-pattern>
  </servlet-mapping>
    	<!-- 注销登录 -->
  <servlet>
  	<servlet-name>otherLogoutServlet</servlet-name>
  	<servlet-class>com.other.server.LogoutServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>otherLogoutServlet</servlet-name>
  	<url-pattern>/other/logout</url-pattern>
  </servlet-mapping>
  
  
  <!-- 消息页面 -->
  		<!-- 请求用户信息 -->
  <servlet>
  	<servlet-name>messageGetUserInfoServlet</servlet-name>
  	<servlet-class>com.message.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>messageGetUserInfoServlet</servlet-name>
  	<url-pattern>/message/userInfo</url-pattern>
  </servlet-mapping>
  		<!-- 请求消息注册 -->
  <servlet>
  	<servlet-name>messageGetAllMessageServlet</servlet-name>
  	<servlet-class>com.message.server.GetAllMessageServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>messageGetAllMessageServlet</servlet-name>
  	<url-pattern>/message/getAllMessage</url-pattern>
  </servlet-mapping>
  		<!-- 注销登录 -->
  <servlet>
  	<servlet-name>messageLogoutServlet</servlet-name>
  	<servlet-class>com.message.server.LogoutServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>messageLogoutServlet</servlet-name>
  	<url-pattern>/message/logout</url-pattern>
  </servlet-mapping>
  		<!-- 标记已读 -->
  <servlet>
  	<servlet-name>messageSetReadServlet</servlet-name>
  	<servlet-class>com.message.server.SetReadFlagServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>messageSetReadServlet</servlet-name>
  	<url-pattern>/message/setReadFlag</url-pattern>
  </servlet-mapping>
   		<!-- 删除消息 -->
  <servlet>
  	<servlet-name>messageDeleteServlet</servlet-name>
  	<servlet-class>com.message.server.DeleteMessageServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>messageDeleteServlet</servlet-name>
  	<url-pattern>/message/deleteMessage</url-pattern>
  </servlet-mapping>
  
  <!-- 发布博客页面 -->
  	 <!-- 注销登录 -->
  <servlet>
  	<servlet-name>publishLogoutServlet</servlet-name>
  	<servlet-class>com.publish.server.LogoutServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>publishLogoutServlet</servlet-name>
  	<url-pattern>/publish/logout</url-pattern>
  </servlet-mapping>
  	 <!-- 发表博客 -->
  <servlet>
  	<servlet-name>publishPublicServlet</servlet-name>
  	<servlet-class>com.publish.server.MakeBlogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>publishPublicServlet</servlet-name>
  	<url-pattern>/publish/makeBlog</url-pattern>
  </servlet-mapping>    
    	<!-- 请求用户信息 -->
  <servlet>
  	<servlet-name>publishGetUserInfoServlet</servlet-name>
  	<servlet-class>com.publish.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>publishGetUserInfoServlet</servlet-name>
  	<url-pattern>/publish/userInfo</url-pattern>
  </servlet-mapping>
  
  <!-- 管理员界面 -->
    		<!-- 请求用户信息 -->
  <servlet>
  	<servlet-name>managerGetUserInfoServlet</servlet-name>
  	<servlet-class>com.manager.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerGetUserInfoServlet</servlet-name>
  	<url-pattern>/manager/userinfo</url-pattern>
  </servlet-mapping>
  		<!-- 修改用户状态 -->
  <servlet>
  	<servlet-name>managerChangeStatServlet</servlet-name>
  	<servlet-class>com.manager.server.ChangeUserStatServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerChangeStatServlet</servlet-name>
  	<url-pattern>/manager/changeUserStat</url-pattern>
  </servlet-mapping>
  		<!-- 删除博客 -->
  <servlet>
  	<servlet-name>managerDeleteBlogServlet</servlet-name>
  	<servlet-class>com.manager.server.DeleteBlogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerDeleteBlogServlet</servlet-name>
  	<url-pattern>/manager/deleteBlog</url-pattern>
  </servlet-mapping>
  		<!-- 删除评论 -->
  <servlet>
  	<servlet-name>managerDeleteCommentServlet</servlet-name>
  	<servlet-class>com.manager.server.DeleteCommentServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerDeleteCommentServlet</servlet-name>
  	<url-pattern>/manager/deleteComment</url-pattern>
  </servlet-mapping>
  		<!-- 删除反馈 -->
  <servlet>
  	<servlet-name>managerDeleteFeedbackServlet</servlet-name>
  	<servlet-class>com.manager.server.DeleteFeedBackServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerDeleteFeedbackServlet</servlet-name>
  	<url-pattern>/manager/deleteFeedBack</url-pattern>
  </servlet-mapping>
  		<!-- 获取博客信息 -->
  <servlet>
  	<servlet-name>managerGetBlogInfoServlet</servlet-name>
  	<servlet-class>com.manager.server.GetBlogInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerGetBlogInfoServlet</servlet-name>
  	<url-pattern>/manager/getBlogInfo</url-pattern>
  </servlet-mapping>
  		<!-- 获取评论信息 -->
  <servlet>
  	<servlet-name>managerGetCommentServlet</servlet-name>
  	<servlet-class>com.manager.server.GetCommentInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerGetCommentServlet</servlet-name>
  	<url-pattern>/manager/getCommentInfo</url-pattern>
  </servlet-mapping>
  		<!-- 获取用户的反馈 -->
  <servlet>
  	<servlet-name>managerGetFeedbackServlet</servlet-name>
  	<servlet-class>com.manager.server.GetUserFeedBackServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managerGetFeedbackServlet</servlet-name>
  	<url-pattern>/manager/getAllFeedBack</url-pattern>
  </servlet-mapping>
  		<!-- 将反馈标为已读 -->
  <servlet>
  	<servlet-name>managersetReadFlagServlet</servlet-name>
  	<servlet-class>com.manager.server.GetUserFeedBackServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>managersetReadFlagServlet</servlet-name>
  	<url-pattern>/manager/setReadFlag</url-pattern>
  </servlet-mapping>
  		
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SEblog.html</welcome-file>
  </welcome-file-list>

</web-app>
