<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

<session-config>
	<session-timeout>30</session-timeout>
</session-config>


  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>com.blog.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/seblog/greet</url-pattern>
  </servlet-mapping>
  
  <!--登录服务注册  -->
   <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.login.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login/login</url-pattern>
  </servlet-mapping>
  
  <!-- 注册服务注册 -->
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.login.server.RegisterServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/login/register</url-pattern>
  </servlet-mapping>
  
 
 <!-- 获取文章服务注册 -->
  <servlet>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>com.index.server.IndexServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/index/article</url-pattern>
  </servlet-mapping>
  
  <!-- 首页请求登录状态 -->
  <servlet>
  	<servlet-name>indexUserinfoServlet</servlet-name>
  	<servlet-class>com.index.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>indexUserinfoServlet</servlet-name>
  	<url-pattern>/index/getUserInfo</url-pattern>
  </servlet-mapping>

  <!-- 文章详情页面请求文章内容 -->
  <servlet>
  	<servlet-name>detailServlet</servlet-name>
  	<servlet-class>com.detail.server.DetailServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>detailServlet</servlet-name>
  	<url-pattern>/detail/detail</url-pattern>
  </servlet-mapping>
  
  <!-- 获取文章评论相关信息 -->
  <servlet>
  	<servlet-name>commentDetailServlet</servlet-name>
  	<servlet-class>com.detail.server.CommentDetailServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>commentDetailServlet</servlet-name>
  	<url-pattern>/detail/comment</url-pattern>
  </servlet-mapping>
  
  
  <!-- 获取关注和收藏状态 -->
   <servlet>
  	<servlet-name>collOrRelationServlet</servlet-name>
  	<servlet-class>com.detail.server.CollectAndRelationServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>collOrRelationServlet</servlet-name>
  	<url-pattern>/detail/relation</url-pattern>
  </servlet-mapping>
  
  <!-- 关注他人 -->
  <servlet>
  	<servlet-name>makeRelationServlet</servlet-name>
  	<servlet-class>com.detail.server.MakeRelationWithOtherServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>makeRelationServlet</servlet-name>
  	<url-pattern>/detail/focus</url-pattern>
  </servlet-mapping>
  
  <!-- 转发或收藏 -->
  <servlet>
  	<servlet-name>transferOrCollectServlet</servlet-name>
  	<servlet-class>com.detail.server.TransferOrCollectBlogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>transferOrCollectServlet</servlet-name>
  	<url-pattern>/detail/transferOrCollect</url-pattern>
  </servlet-mapping>
  
    <!-- Detail拉取用户信息 -->
  <servlet>
  	<servlet-name>detailGetUserInfoServlet</servlet-name>
  	<servlet-class>com.detail.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>detailGetUserInfoServlet</servlet-name>
  	<url-pattern>/detail/getUserInfo</url-pattern>
  </servlet-mapping>
  
     <!-- Detail用户评论 -->
  <servlet>
  	<servlet-name>MakeCommentServlet</servlet-name>
  	<servlet-class>com.detail.server.MakeCommentServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>MakeCommentServlet</servlet-name>
  	<url-pattern>/detail/makeComment</url-pattern>
  </servlet-mapping>
  
  
  <!-- 个人中心页面 -->
  	<!-- 获取用户信息 -->
  <servlet>
  	<servlet-name>userGetUserInfoServlet</servlet-name>
  	<servlet-class>com.user.server.UserInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userGetUserInfoServlet</servlet-name>
  	<url-pattern>/user/userInfo</url-pattern>
  </servlet-mapping>
  	
  	<!-- 获取用户的关注对象 -->
  <servlet>
  	<servlet-name>userGetUserRelaServlet</servlet-name>
  	<servlet-class>com.user.server.UserRelationServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userGetUserRelaServlet</servlet-name>
  	<url-pattern>/user/UserRelation</url-pattern>
  </servlet-mapping>
  
  	<!-- 获取用户的博客 -->
  <servlet>
  	<servlet-name>userGetUserBlogServlet</servlet-name>
  	<servlet-class>com.user.server.UserBlogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userGetUserBlogServlet</servlet-name>
  	<url-pattern>/user/UserBlog</url-pattern>
  </servlet-mapping>
  
  	<!-- 修改信息 -->
  <servlet>
  	<servlet-name>userChangeInfoServlet</servlet-name>
  	<servlet-class>com.user.server.ChangeInfoServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userChangeInfoServlet</servlet-name>
  	<url-pattern>/user/changeInfo</url-pattern>
  </servlet-mapping>
  
 	<!-- 取消关注  -->
  <servlet>
  	<servlet-name>userCancelFocusServlet</servlet-name>
  	<servlet-class>com.user.server.MakeRelationWithOtherServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userCancelFocusServlet</servlet-name>
  	<url-pattern>/user/focus</url-pattern>
  </servlet-mapping>
  	
  	<!-- 删除我的博客 -->
  <servlet>
  	<servlet-name>userDeleteBlogServlet</servlet-name>
  	<servlet-class>com.user.server.DeleteSelfBlogServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userDeleteBlogServlet</servlet-name>
  	<url-pattern>/user/deleteblog</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SEblog.html</welcome-file>
  </welcome-file-list>

</web-app>
